body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  width: 980px; /* width:980px; and margin:0 auto; cheatcode to align in the center of the webpage */
  margin: 0 auto;
  padding: 15px;
  border: 5px solid lightgrey;
  text-align: center;
  margin-bottom: 100px;
}

.para {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 1px transparent gray;
}

h3 {
  width: 980px;
  margin: 0 auto;
}

.link {
  width: 980px;
  margin: 0 auto;
}

.link-lasagna {
  padding: 10px;
}

.link-cookies {
  padding: 10px;
}

.link-chicken{
  padding: 10px;
}

.border {
  width: 980px;
  margin: 0 auto;
  padding: 15px;
  border: 10px solid gray;
}

.link a{
  text-decoration: none; /* Remove underline from the link */
  color: blue;
}

a:hover{
text-decoration: underline; /* Underline comes when hovering over the link */
color: lightskyblue;
}